:host {
    padding-top: 1rem;
    margin: 0 auto;
    position: fixed;
    bottom: 10%;
    min-width: 100%;
    .card {
        width: 100%;
        padding: 20px;
        border: 1px dashed #ccc;
        border-radius: 10px;
        height: 180px;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;

        span {
            text-align: center;
            display: block;
        }
        &__add {
            font-size: 4rem;
            color: #ccc;
        }
    }
}
