<div class="card">
    <div class="card__header">
        <h5 class="card__title">{{card?.title}}</h5>
        <small class="card__date">{{card?.date | dateConverter}}</small>
    </div>
    <div class="card__body">
        <p class="taskDescription">{{card?.taskBody}}</p>
    </div>
    <div class="card__footer">
        <button class="btn btn-outline-primary btn-sm" (click)="openModal()">Full task</button>
        <button class="btn btn-outline-danger btn-sm ms-1" (click)="removeCard(card?.id)">Remove</button>
    </div>
</div>

<app-modal #modal [modalConfig]="modalConfig"></app-modal>
